header.header
   a(href="#") 
      span.span-tv TV
      span.span-box box
   nav 
      ul.nav
         li.nav-item 
            a(href="").nav-link.active Home 
         li.nav-item 
            a(href="").nav-link TV Shows 
         li.nav-item 
            a(href="").nav-link Movies 
         li.nav-item 
            a(href="").nav-link Series 
   ul.control 
      li.control-item 
         button.control-btn__search
      li.control-item 
         button.control-btn__bell
      li.control-item 
         button.control-btn__user

